@{
    ViewBag.Title = "About";
}

<h2>
    Management board
</h2>
<p>- Søren Skou, Chief Executive Officer </p>
<p>- Ulf Hahnemann, Chief Human Resources Officer </p>
<p>- Vincent Clerc, Chief Commercial Officer </p>
<p>- Pierre Danet, Chief Financial Officer </p>
<p>- Jakob Stausholm, Chief Finance, Strategy and Transformation Officer </p>
<p>- Søren Toft, Chief Operating Officer </p>
<p>- Caroline Pontoppidan, General Counsel & Head of Corporate Affairs </p>
<p>- Adam Banks, Chief Information Officer </p>


<h2>
    Highlights
</h2>
<p>- Founded in 1928 </p>
<p>- 639 vessels with a capacity of 3.3 million TEU (Twenty-Foot Equivalent Unit) </p>
<p>- 59,000 customers worldwide </p>
<p>- 13.2 million full containers shipped (2016) </p>
<p>- 51,000 port calls in 378 ports in 121 countries </p>
<p>- Strategy: Self-funded, EBIT 5%-points > peers and grow at least with the market </p>