@{
    ViewBag.Title = "Home Page";
}
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Maersk_Line_Logo.svg/1280px-Maersk_Line_Logo.svg.png
" style="width:600px;height:150px;padding-top:10px">
<div class="div42">
    <div class="text">
        <h1 style="color:blue;">Your promised. Delivered.</h1>
        <img src="http://implementconsultinggroup.com/media/1421/maersk-line.png" 
             style="width:500px;height:290px;padding-top:10px;margin-left:10px" />
        <img src="http://www.maersk.com/~/media/publications/group-annual-magazine/2015/images/smart-containers-listen-and-talk-maersk-line-mci.jpg" 
             style="width:500px;height:290px;padding-top:10px;margin-left:10px" />
    </div>
</div>




